<?xml version = '1.0' encoding = 'UTF-8' ?>
<widget
  android-versionCode = '1'
  id = 'com.ibuilt.cal'
  version = '1.0.0'
  xmlns = 'https://www.w3.org/ns/widgets'>

  <name>Velocity</name>
  <description>Velocity of Flow</description>
  <author>ibuild</author>

  <preference name = 'orientation' value = 'portrait'/>

  </widget>